.DS_Store
*.svg
*.log
.RData
.Rhistory
*_temp
*.Rda
*.html

backups/
writeups/
audio/
old/
guava/
data/analyses/
data/analyses/
data/plots/
data/rdata/

processed_subtitles/auto/
dependency_counts/
raw_audio/
beta_testing/
dependencies/
rscripts/

*.ipynb*
*_tobecorrected
